* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    background: #eee;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header{
    width: 100%;
    height: 200px;
    position: fixed;
    top:0;
    border: solid 2px black;
    z-index: 2;
    background: #eee;
    

}
.main{
    
}
.quick-contact{
    position: absolute;
    right: 0;
    top: 0;   
    
}
ul{
    list-style: none;
    float: right;
    
}
li{
    padding: 5px;
}
.nav{
    position: absolute;
    width: 100%;
    height: 50px;
    right: 0;
    bottom: 0;
    /* border: solid 1px #000; */
}
.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 20px;
    text-align: center;
    /* border-right: solid 1px #000; */
}
.nav button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 20px;
    text-align: center;
}
.section {
    width: 100%;
    position: relative;
    border: solid 1px #000;
}
.section-image{
    
    padding-top:200px;
    height: 600px;
    background-image: url("/images/sub.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
}
.section-owner{
    height: 200px
}
.section-about{
    text-align: center;
    height: 400px;
}
.section-services{
    height: 600px;
}
.section-contact{
    height: 600px;
}
.footer{
    height: 50px;
    position: relative;
}
.circle {
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%;
    margin: auto;
}
.owner-img{
    background-image: url("/images/un-trophies.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.sec {
    height: 200px;
    border-right: solid 2px black;    
}
