* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    background: rgb(238, 238, 238);;
    font-family: coolvetica;
    font-size: 20px;
}
@font-face{
    font-family: "coolvetica";
    src:url('fonts/coolvetica.ttf') format('truetype');
}
@font-face{
    font-family: "bison";
    src:url('fonts/Bison-Bold(PersonalUse).ttf') format('truetype');    
}
.title{
    font-family: bison;
}
/* GRID */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;    
}  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* ANCHORS */
.anchor-about{
    visibility: hidden;
    position: absolute;
    top: 400px;
}
.anchor-services{
    visibility: hidden;
    position: absolute;
    top: 1000px;
}
/* HEADER | HEADER | HEADER | HEADER | HEADER | HEADER | HEADER | HEADER | HEADER | HEADER | HEADER | HEADER |  */
.main{
    position: absolute;
    top: 0px;
    left: 50px;
    /* float: left; */
    font-size: 120px;
    letter-spacing: 4px;
}
.header{
    width: 100%;
    height: 200px;
    position: fixed;
    top:0;
    border: solid 2px black;
    z-index: 2;
    background-image: url('images/header.png');
    background-repeat: no-repeat;
    background-position: left;

}
/* .header-bg{
    fill: rgb(168, 0, 0);
} */
.quick-contact{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;    
}
.quick-contact li{
    display:inline;
    padding-left: 20px;
    justify-content: flex-end;
}

.nav{
    display: flex;
    justify-content: space-evenly;

    position: absolute;
    width: 100%;
    height: 50px;
    right: 0;
    bottom: 0;
}
.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 20px;
    text-align: center;
}
.nav a:hover{
    color: rgb(168, 0, 0);
    filter: drop-shadow(0 5px 10px #000);
}



.section {
    width: 100%;
    position: relative;
    border: solid 1px #000;
}
.section-image{    
    height: 600px;
    background-image: url("images/sub.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
}
@media only screen and (max-width: 768px){
    .main{
        font-size: 80px;
        top: 30px;
        left: 0px;

    }
    .quick-contact li{
        font-size: 15px;
        padding-left: 5px;
    }
   
    
}
ul{
    list-style: none;        
}
li{
    padding: 5px;    
}

@media only screen and (max-width: 468px){
    .main{
        font-size: 35px;
        position: absolute;
        top: 100px;
        margin-left: auto;
    }
    .header{
        
    }
    .nav{
        display:none;
        
    }
    
    
    .section-about, .section-owner{
        font-size: 16px !important;
    }
    
}

/* OWNER  |  OWNER  |  OWNER  |  OWNER  |  OWNER  |  OWNER  |  OWNER  |  OWNER  |  OWNER  |  OWNER */
.section-owner{
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.owner-image {
    width: 190px;
    height: 190px;
    margin: 5px 0 0 5px;
    background: white;
    background-image: url('images/un-face.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    /* margin: -10px auto; */
    
}
.owner-info{
    width:350px;
    height:200px;
    flex-grow:1;
    margin: 0 10px;
    
}
.owner-img{
    height:200px;
    width:356px;
    background-image: url("images/un-trophies.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow:1;
}

/* ABOUT  |  ABOUT  |  ABOUT  |  ABOUT  |  ABOUT  |  ABOUT  |  ABOUT  |  ABOUT  |  ABOUT  |  ABOUT  |  ABOUT */

.center{
    text-align: center;
    width: 50px;
    margin: auto;
    padding: 10px;
}

.section-about{
    text-align: center;
    min-height: 400px;
    font-family: coolvetica;
    font-size: 20px;
}
.section-about p{
    max-width: 1000px;
    margin: 0 auto;
}
.contact-button{
    background-color: rgb(168, 0, 0);
    font-family: coolvetica;
    width: 200px;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.contact-button a{
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 20px;
}

/* SERVICES  |  SERVICES  |  SERVICES  |  SERVICES  |  SERVICES  |  SERVICES  |  SERVICES  |  SERVICES */
.section-services{
    min-height: 600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url('images/un-services.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box{
    font-family: bison;
    font-size: 25px;
    font-weight: bold;
    height: 300px;
    width: 300px;
    
    background: rgba(238, 238, 238, .7);
    
    margin: auto 0;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    
    border: 1px solid #333;
    border-radius: 10px
}
.box p{
    margin-left: 20px;    
}

@media only screen and (max-width: 919px) {
    .box {
        margin-top: 25px;
        margin-bottom: 25px;
    }
  }
  /* CONTACT  |  CONTACT  |  CONTACT  |  CONTACT  |  CONTACT  |  CONTACT  |  CONTACT  |  CONTACT  |   */
.section-contact{
    min-height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.contact-form{
    height: 500px;
    width: 500px;
    margin-top: 50px;
    padding: 10px;
    background: white;
    border: 1px solid rgb(200, 160, 160);
    border-radius: 10px;
}
input[type=text], select{
    font-family: coolvetica;
    width: 90%;
    max-width: 350px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
input[type=submit] {
    font-family: coolvetica;
    width: 20%;
    color: rgb(238, 238, 238);
    background: rgb(168, 0, 0);
    padding: 14px 20px;
    margin-left: 40%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover {
    background: rgb(134, 0, 0);
}
#message{
    width: 90%;
    height: 220px;
    margin: 20px;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
    font-family: coolvetica;
}
.map{
    padding: 10px;
    background: white;
    border: 1px solid rgb(200, 160, 160);
    border-radius: 10px;
    height: 500px;
    width: 500px;
    margin: 50px 0;

    background-image: url('images/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer{
    height: 20px;
    position: relative;
    color: #eee;
    background: #333;
    font-size: 12px;
    text-align: end;
}